<br>
<div class="container">
    <div class="row" ng-if="Auth.isLoggedIn()">
        <div class="page-header">
            <h1>Pay Rent for {{::property.name}}</h1>
        </div>
        {{::property.fullAddress}}
        <br>
        <br>
        <h4>Pay Once</h4>
        <stripe-payment-form ng-if="property._id && Auth.getCurrentUser()._id" model="{{property._id}}" user="{{Auth.getCurrentUser()._id}}" url="/api/stripe/payRentForPropertyOnce" redirect-url="/profile/{{Auth.getCurrentUser()._id}}" amount="{{property.projectedMonthlyRentalRevenue}}"></stripe-payment-form>
        <!-- <hr> OR
<h4>Automatic Monthly Withdrawal</h4>
 -->
        <br>
        <br>
    </div>
    <div class="row" ng-if="!Auth.isLoggedIn()">
        <h2>You must be logged in in order to pay rent.</h2>
        <a href="/login" class="btn btn-default btn-lg" role="button">Login</a>
        <br>
        <br>
    </div>
</div>
