<div class="container-fluid table-container">
    <div class="row table-row">
        <div class="col-xs-12 col-md-4 col-lg-4 table-cell" id="left-column">
            <div id="scroll-properties">
                <div class="row" ng-if="::Auth.isAdmin()">
                    <div class="col-md-12">
                        <br>
                        <br>
                        <a href="/property/add/1" class="btn btn-default btn-lg" role="button">Add Property</a>
                        <br>
                    </div>
                </div>
                <br>
                <div class="media" ng-repeat="property in properties">
                    <div class="media-left">
                        <a href="/property/{{property._id}}">
                            <b-img public-id="{{property.photo}}" transformation="w_100,h_100,c_fill" alt="{{property.name}}" class="media-object img-property"></b-img>
                        </a>
                        <p>
                            <br>
                            <a href="#" class="btn btn-default btn-lg" ng-click="zoomToLocation(property)">Show on Map</a>
                        </p>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">
                    <a href="/property/{{property._id}}">{{::property.name}}</a>
                    <h6>{{::property.fullAddress}}</h6>
                    </h3>
                        <p>
                            {{::property.description | limitTo:200}}...
                        </p>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-8 col-lg-8 table-cell" id="right-column">
            <div id="mapTop"></div>
            <ui-gmap-google-map id="map" center="map.center" zoom="map.zoom">
                <ui-gmap-markers models="mapMarkers" coords="'self'" icon="'icon'" click="markerClick">
                    <ui-gmap-windows show="show">
                        <div class="map-window">
                            <a ng-non-bindable href="/property/{{id}}">
                                <img ng-non-bindable class="media-object img-property" src="{{photo}}" alt="{{title}}">
                            </a>
                            <h4 ng-non-bindable>{{title}}</h4>
                            <h6 ng-non-bindable>{{address}}</h6>
                            <p ng-non-bindable>{{description | limitTo: 200}}</p>
                        </div>
                    </ui-gmap-windows>
                </ui-gmap-markers>
            </ui-gmap-google-map>
        </div>
    </div>
</div>
<style type="text/css">
.angular-google-map,
.angular-google-map-container {
    width: 100%;
    height: 100%;
}

#map {
    position: absolute;
}

.table-container {
    display: table;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.table-row {
    height: 100%;
    width: 100%;
    display: table-row;
    margin: 0px;
}

.table-cell {
    float: none;
    display: table-cell;
    vertical-align: top;
}

#right-column {
    padding: 0px;
}

#left-column {
    padding-right: 0px;
}

#scroll-properties {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 700px;
}

@media only screen and (max-width: 768px) {
    .angular-google-map,
    .angular-google-map-container {
        width: 100%;
        min-height: 300px;
    }
    #map {
        position: relative;
    }
    .table-container {
        display: block;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .table-row {
        height: 100%;
        display: block;
    }
    .table-cell {
        float: left;
        display: block;
        vertical-align: none;
    }
    #scroll-properties {
        overflow-y: none;
        overflow-x: hidden;
        max-height: none;
    }
}
</style>
