<br>
<div class="container">
    <div class="row" ng-if="::Auth.isAdmin()">
        <div class="col-md-12">
            <div ng-switch="action">
                <!-- <div ng-switch-when="edit">
    <a href="/propertyInvestment/view/{{property._id}}" class="btn btn-default btn-lg" role="button">View</a>
</div>
 -->
                <div ng-switch-when="view">
                    <a href="/propertyInvestment/edit/{{property._id}}" class="btn btn-default btn-lg" role="button">Edit</a>
                </div>
            </div>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h1>Investment Information</h1>
            <div class="panel panel-default">
                <div class="panel-heading">Property Evaluation</div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="investmentTable" class="table table-striped table-bordered table-hover">
                            <tbody>
                                <tr>
                                    <td>
                                        <label>Property Location</label>:
                                    </td>
                                    <td>
                                        {{::property.city}}, {{::property.state}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Property Address</label>:
                                    </td>
                                    <td>
                                        {{::property.fullAddress}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Square Footage</label>:
                                    </td>
                                    <td>
                                        {{::property.sqft}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Price/Sq. Foot</label>:
                                    </td>
                                    <td>
                                        {{::property.pricePerSqft | currency:"$"}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label># of Bedrooms</label>:
                                    </td>
                                    <td>
                                        {{::property.beds}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label># of Bathrooms</label>:
                                    </td>
                                    <td>
                                        {{::property.baths}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label># of Seperate Units</label>:
                                    </td>
                                    <td>
                                        {{::property.units}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label># of Garage Spaces</label>:
                                    </td>
                                    <td>
                                        {{::property.garages}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Total Purchase Price</label>:
                                    </td>
                                    <td>
                                        {{::property.cost | currency:"$"}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Equity Invested</label>:
                                    </td>
                                    <td ng-switch="action">
                                        <div ng-switch-when="edit" class="form-inline">
                                            <div class="form-group">
                                                <label>$</label>
                                                <input ng-model="property.equityInvested" type="number" step="0.01" min="0" class="form-control" size="10" ng-change="changeEquityPercent()" />
                                                <input ng-model="property.equityInvestedPercent" type="number" step="1" min="0" class="form-control" size="3" maxlength="3" ng-change="changeEquity()" />
                                                <label>%</label>
                                            </div>
                                        </div>
                                        <div ng-switch-when="view">
                                            {{property.equityInvested | currency:"$"}} at {{property.equityInvestedPercent}}%
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Debt Held</label>:
                                    </td>
                                    <td>
                                        {{property.debtHeld | currency:"$"}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Avg Comp Sale Price</label>:
                                    </td>
                                    <td ng-switch="action">
                                        <div ng-switch-when="edit" class="form-inline">
                                            <div class="form-group">
                                                <label>$</label>
                                                <input ng-model="property.avgCompSalePrice" type="number" step="0.01" min="0" class="form-control" size="10" ng-change="calculateYearBasedData()" />
                                            </div>
                                        </div>
                                        <div ng-switch-when="view">
                                            {{property.avgCompSalePrice | currency:"$"}}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Current Rental Revenue</label>:
                                    </td>
                                    <td ng-switch="action">
                                        <div ng-switch-when="edit" class="form-inline">
                                            <div class="form-group">
                                                <label>$</label>
                                                <input ng-model="property.monthlyRentalRevenue" type="number" step="0.01" min="0" class="form-control" size="5" ng-change="monthlyRevenueChange()" />
                                                <label>/month or {{property.currentRentalRevenue | currency:"$"}}/year</label>
                                            </div>
                                        </div>
                                        <div ng-switch-when="view">
                                            {{property.monthlyRentalRevenue | currency:"$"}}/month or {{property.currentRentalRevenue | currency:"$"}}/year
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Projected Rental Revenue</label>:
                                    </td>
                                    <td>
                                        <div>
                                            {{property.projectedMonthlyRentalRevenue | currency:"$"}} /month or {{property.projectedRentalRevenue | currency:"$"}}/year
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Mortgage Principle & Interest</label>:
                                    </td>
                                    <td ng-switch="action">
                                        <div ng-switch-when="edit" class="form-inline">
                                            <div class="form-group">
                                                <label>$</label>
                                                <input ng-model="property.mortgagePrinciple" type="number" step="0.01" min="0" class="form-control" size="5" ng-change="calculateTotalMonthlyProfits()" />
                                            </div>
                                        </div>
                                        <div ng-switch-when="view">
                                            {{property.mortgagePrinciple | currency:"$"}}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Taxes</label>:
                                    </td>
                                    <td ng-switch="action">
                                        <div ng-switch-when="edit" class="form-inline">
                                            <div class="form-group">
                                                <label>$</label>
                                                <input ng-model="property.taxes" type="number" step="0.01" min="0" class="form-control" size="5" ng-change="calculateTotalMonthlyProfits()" />
                                            </div>
                                        </div>
                                        <div ng-switch-when="view">
                                            {{property.taxes | currency:"$"}}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Insurance</label>:
                                    </td>
                                    <td ng-switch="action">
                                        <div ng-switch-when="edit" class="form-inline">
                                            <div class="form-group">
                                                <label>$</label>
                                                <input ng-model="property.insurance" type="number" step="0.01" min="0" class="form-control" size="5" ng-change="calculateTotalMonthlyProfits()" />
                                            </div>
                                        </div>
                                        <div ng-switch-when="view">
                                            {{property.insurance | currency:"$"}}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Monthly Remodel Expense</label>:
                                    </td>
                                    <td ng-switch="action">
                                        <div ng-switch-when="edit" class="form-inline">
                                            <div class="form-group">
                                                <label>$</label>
                                                <input ng-model="property.monthlyRemodelExpense" type="number" step="0.01" min="0" class="form-control" size="5" ng-change="calculateTotalMonthlyProfits()" />
                                            </div>
                                        </div>
                                        <div ng-switch-when="view">
                                            {{property.monthlyRemodelExpense | currency:"$"}}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Monthly Management Fee</label>:
                                    </td>
                                    <td>
                                        {{property.monthlyManagementFee | currency:"$"}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Current Monthly Profit</label>:
                                    </td>
                                    <td>
                                        {{property.currentMonthlyProfit | currency:"$"}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Projected Management Fee</label>:
                                    </td>
                                    <td>
                                        {{property.projectedManagementFee | currency:"$"}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Projected Monthly Profit</label>:
                                    </td>
                                    <td>
                                        {{property.projectedMonthlyProfit| currency:"$"}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Years to Hold</label>:
                                    </td>
                                    <td>
                                        <!--<div ng-switch-when="edit" class="form-inline">
                                            <div class="form-group">
                                                <label>$</label>
                                                <input ng-model="property.yearsToHold" type="number" step="1" min="0" class="form-control" size="3" maxlength="3" ng-change="calculateYearBasedData()" />
                                            </div>
                                        </div>-->
                                        {{property.yearsToHold}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Total Value to Add to Property</label>:
                                    </td>
                                    <td>
                                        {{property.totalValueToAdd | currency:"$"}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Projected Amount of Debt Paid Off</label>:
                                    </td>
                                    <td>
                                        {{property.projectedAmountOfDebt | currency:"$"}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Projected Profit at Final Sale</label>:
                                    </td>
                                    <td>
                                        {{property.projectedProfitAtFinal | currency:"$"}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="panel panel-default">
                <div class="panel-heading">Cash Flow</div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <th>Year</th>
                                <th>Cash Flow</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>0</td>
                                    <td>-{{property.equityInvested | currency:"$"}}</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>{{property.currentYearlyProfit | currency:"$"}}</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>{{property.currentYearlyProfit | currency:"$"}}</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>{{property.projectedYearlyProfit | currency:"$"}}</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>{{property.projectedYearlyProfit | currency:"$"}}</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>{{property.exitTotal | currency:"$"}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>Total</td>
                                    <td>{{property.finalTotal | currency:"$"}}</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <property-financial-summary></property-financial-summary>
            <br>
            <br>
            <property-graph projected-returns-by-year="property.projectedReturnsByYear"></property-graph>
            <br>
            <div ng-if="action === 'edit'">
                <button class="btn btn-success btn-lg" role="button" ng-click="save()">Save</button>
                <br>
            </div>
            <br>
            <a href="/contact" class="btn btn-default btn-lg" role="button">Contact Us</a>
            <br>
            <br>
            <div ng-switch="Auth.isLoggedIn()">
                <div ng-switch-when="true">
                    <stripe-payment-form ng-if="property._id && Auth.getCurrentUser()._id" model="{{property._id}}" user="{{Auth.getCurrentUser()._id}}" url="/api/stripe/investInProperty" redirect-url="/profile/{{Auth.getCurrentUser()._id}}"></stripe-payment-form>
                </div>
                <div ng-switch-when="false">
                    <a href="/login" class="btn btn-default btn-lg" role="button">Login in order to Invest</a>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
