<footer id="footer" role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6">
                <h3>Us</h3>
                <ul>
                    <li><a href="/#/">Home</a> </li>
                    <li><a href="/#/privacy">Privacy</a> </li>
                    <li><a href="/#/terms">Terms</a> </li>
                    <li>&nbsp;</li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <h3>Social</h3>
                <ul class="social-links">
                    <li>
                        <a href="https://twitter.com/WePreserve" target="_blank">
                            <span class="fa-stack">
                              <i class="fa fa-square-o fa-stack-2x fa-inverse"></i>
                              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span> Twitter
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/profile.php?id=100010634611299" target="_blank">
                            <span class="fa-stack">
                              <i class="fa fa-square-o fa-stack-2x fa-inverse"></i>
                              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span> Facebook
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCFsPB98ozoCtkKXiMm4jUkw" target="_blank">
                            <span class="fa-stack">
                              <i class="fa fa-square-o fa-stack-2x fa-inverse"></i>
                              <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                            </span> YouTube
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/PreserveUs" target="_blank">
                            <span class="fa-stack">
                              <i class="fa fa-square-o fa-stack-2x fa-inverse"></i>
                              <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                            </span> LinkedIn
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <h3>Properties</h3>
                <ul>
                    <li><a href="/#/properties">Dallas, TX</a></li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <h3>Contact</h3>
                <ul>
                    <li>Preserve US</li>
                    <li>3140 N. Hall St. Suite 319</li>
                    <li>Dallas, TX 75204</li>
                    <li>(817)-372-1742</li>
                    <li><a href="mailto:preservetheus@gmail.com">preservetheus@gmail.com</a> </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <hr> Eric Kizaki 2015
        </div>
        <a id="go-to-top" href="#"></a>
    </div>
    <br />
</footer>
