<footer id="footer" role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6">
                <h3>Us</h3>
                <ul>
                    <li><a href="http://visitu.co/store/index.html" target="_blank">About Us</a> </li>
                    <li><a href="/privacy">Privacy</a> </li>
                    <li><a href="http://visitu.co/terms/index.html" target="_blank">Terms</a> </li>
                    <li>&nbsp;</li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <h3>Social</h3>
                <ul class="social-links">
                    <li><a href="https://www.facebook.com/profile.php?id=100010634611299" target="_blank">Facebook</a> </li>
                    <li><a href="https://twitter.com/WePreserve" target="_blank">Twitter</a></li>
                    <li><a href="https://www.youtube.com/channel/UCFsPB98ozoCtkKXiMm4jUkw" target="_blank">YouTube</a></li>
                    <li><a href="https://www.linkedin.com/in/PreserveUs" target="_blank">LinkedIn</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <h3>Properties</h3>
                <ul>
                    <li><a href="http://visitu.zendesk.com" target="_blank">Restorations</a></li>
                    <li><a href="http://visitu.co/share" target="_blank">Foreclosures</a></li>
                    <li><a href="http://visitu.co/share" target="_blank">Store</a></li>
                    <li>&nbsp;</li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <h3>Contact</h3>
                <ul>
                    <li> <a href="mailto:preservetheus@gmail.com">preservetheus@gmail.com</a> </li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                </ul>
            </div>
        </div>
    </div>
    <br />
</footer>
