<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container-fluid topnav" id="navcontainer">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#js-navbar-collapse" target="_self">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/#/" class="navbar-brand">Preserve US</a>
        </div>
        <div class="navbar-collapse collapse" id="js-navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/">HOME</a>
                </li>
                <li>
                    <a href="/team">ABOUT US</a>
                </li>
                <li>
                    <a href="/services">SERVICES</a>
                </li>
                <li>
                    <a href="/properties">PROPERTIES</a>
                </li>
                <li>
                    <a href="/blog">BLOG</a>
                </li>
                <li>
                    <a href="/contact">CONTACT</a>
                </li>
                <li ng-show="isLoggedIn()">
                    <a href="/#/profile/{{getCurrentUser()._id}}">
                        PROFILE
                    </a>
                </li>
                <li ng-show="isLoggedIn()"><a href="" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> LOGOUT</a></li>
                <li ng-hide="isLoggedIn()"><a href="/#/signup"><span class="glyphicon glyphicon-new-window"></span> REGISTER</a></li>
                <li ng-hide="isLoggedIn()"><a href="/#/login"><span class="glyphicon glyphicon-log-in"></span> LOGIN</a></li>
            </ul>
        </div>
        <!--/.navbar-collapse -->
    </div>
</nav>
