<div class="container">
    <!-- First Row contains Profile Name and Picture of Omaha -->
    <div class="row">
        <div class="col-md-6">
            <h1>Profile for <strong ng-bind="user.name">
            </strong></h1>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="glyphicon glyphicon-user"></i> Basic Info</h3>
                </div>
                <div class="panel-body">
                    <center>
                        <img ng-if="user && user.photo" ng-src="{{user.photo}}" width="100px" height="100px" class="img-thumbnail">
                        <font ng-if="!user.photo" size="45" class="glyphicon glyphicon-user"></font>
                    </center>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Name:</label>
                        </div>
                        <div class="col-md-8" ng-bind="user.name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Email:</label>
                        </div>
                        <div class="col-md-8">
                            <a href="mailto:{{user.email}}" ng-bind="user.email">
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Address:</label>
                        </div>
                        <div class="col-md-8" style="vertical-align: top;">
                            {{::user.address}}
                            <br /> {{::user.city}} <span ng-if="user.state">,</span> {{::user.state}} {{::user.zip}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Phone:</label>
                        </div>
                        <div class="col-md-8" ng-bind="user.phone | tel">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Joined:</label>
                        </div>
                        <div class="col-md-8" ng-bind="user.createdAt | date:'MM/dd/yyyy'">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <a href="/user/edit/{{::user._id}}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span>Edit</a>
                        </div>
                        <div class="col-md-8">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" ng-if="Auth.isAdmin()">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="glyphicon glyphicon-globe"></i>Actions</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a href="/user">Administer Users</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
