<br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a href="/blog" class="btn btn-default btn-lg" role="button"> ← Back to Blog</a>
            <br>
            <div ng-if="::Auth.isAdmin()">
                <br>
                <a href="/blog/edit/{{post._id}}" class="btn btn-default btn-lg" role="button">Edit</a>
                <br>
                <br>
                <a ng-click="delete(post._id)" class="btn btn-default btn-lg" role="button">Delete</a>
                <br>
            </div>
            <h1 ng-bind="post.title"></h1>
            <h6>Posted on: {{::post.createdAt | date:'MM/dd/yyyy h:mm a'}}</h6>
            <b-img public-id="{{post.photo}}" transformation="w_300,h_300,c_fill" class="img-responsive team-pic" alt="{{post.title}}"></b-img>
            <br>
            <p ng-bind-html="post.postHtml | sanitize">
            </p>
        </div>
    </div>
</div>
