<br>
<div class="container">
    <div class="row">
        <div class="col-md-9" id="blog-column">
            <a href="/blog" class="btn btn-default btn-lg" role="button"> ← Back to Blog</a>
            <br>
            <div ng-if="::Auth.isAdmin()">
                <br>
                <a href="/blog/edit/{{post._id}}" class="btn btn-default btn-lg" role="button">Edit</a>
                <br>
                <br>
                <a ng-click="delete(post._id)" class="btn btn-default btn-lg" role="button">Delete</a>
                <br>
            </div>
            <br>
            <blog-post post="post"></blog-post>
        </div>
        <div class="col-md-3">
            <blog-keywords></blog-keywords>
        </div>
    </div>
</div>
